/*
	style.css
	---------

	Styles for the application.

	Global Styles
*/

/* Global Reset */
* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: sans-serif;
	background: #1a1a1a;
	color: white;
	overflow: hidden;
}
